.statement{
	width: 1010px;
	height: 128px;
	position: relative;
	margin: 0px auto;
	
}

.logo{
	position: absolute;
	left: 0px;
	top: 46px;
}
.progress{
	position: absolute;
	left: 630px;
	top: 70px;
}
.mycar{
	color: #d41a39;
	font-size: 12px;
	position: absolute;
	left: 605px;
	top: 85px;
}
.confirm_information{
	color: #9c9b9b;
	font-size: 12px;
	position: absolute;
	top: 85px;
	left: 690px;
}
.confirm_pay{
	color: #9c9b9b;
	font-size: 12px;
	position: absolute;
	top: 85px;
	left: 782px;	
}
.choose_style{
	color: #9c9b9b;
	font-size: 12px;
	position: absolute;
	top: 85px;
	left: 880px;	
}
.welcome_user{
	color: #4f4f4f;
	font-size: 12px;
	position: absolute;
	top: 10px;
	left: 835px;	
}
#username{
	position: absolute;
	left: 885px;
	top: 10px;
	font-size: 12px;
	color: #d41a39;
}
#exit{
	position: absolute;
	left: 955px;
	top: 10px;
	font-size: 12px;
	color: #4f4f4f;
}
.hrhr{
	border: 4px solid #bebebe;
	width: 100%;
	position: relative;
	margin: 0 auto;
}


/*确认收货地址页面*/
.cofirm_address{
	position: relative;
	width: 1010px;
	height: 1150px;
	margin: 0 auto;
	
}


.confirm_shipping_address{
	position: absolute;
	left: 20px;
	top: 30px;
	font-size: 20px;
	color: #d41a39;
}
.allgoods_hr{
	position: absolute;
	left: 0px;
	top: 80px;
	width: 100%;
}
.send_address{
	width: 800px;
    height: 43px;
    background: #f8bdc7;
    position: absolute;
    left: 85px;
    top: 120px;
}
.local{
	position: absolute;
	left: 15px;
	top: 10px;
}
.sendto{
	position: absolute;
	left: 45px;
	top: 15px;
	color: #d41a39;
	font-size: 12px;
}
#radio_address1{
	position: absolute;
	left: 230px;
	top: 135px;
}
#address1{
	position: absolute;
	left: 250px;
	top: 135px;
	color: #000000;
	font-size: 12px;
}
#modify{
	position: absolute;
	left: 730px;
	top: 15px;
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}
#radio_address2{
	position: absolute;
	left: 230px;
	top: 200px;
}
#address2{
	position: absolute;
	left: 250px;
	top: 200px;
	color: #000000;
	font-size: 12px;
}
#add_address{
	width: 128px;
	height: 26px;
	border: none;
	position: absolute;
	left: 250px;
	top: 240px;
	background-color: #e2e2e2;
}
.send_time{
	position: absolute;
	left: 20px;
	top: 320px;
	font-size: 20px;
	color: #d41a39;
}
.send_time_hr{
	position: absolute;
	left: 0px;
	top: 370px;
	width: 100%;
}

#only_work_day{
	
	height: 10px;
	border: none;
	background-color: #e2e2e2;
	position: absolute;
	left: 70px;
	top: 420px;
	padding: 20px 10px;

}
#only_weekend{
	 height: 10px;
	border: none;
	background-color: #e2e2e2;
	position: absolute;
	left: 270px;
	top: 420px;
	padding: 20px 10px;
}
#all_ok{
	 height: 10px;
	border: none;
	background-color: #e2e2e2;
	position: absolute;
	left: 470px;
	top: 420px;
	padding: 20px 10px;
}

.confirm_goods_list{
	position: absolute;
	left: 20px;
	top: 550px;
	font-size: 20px;
	color: #d41a39;
}
.confirm_goods_list_hr{
	position: absolute;
	left: 0px;
	top: 600px;
	width: 100%;
}

.goodslist1{
	width: 100%;
    height: 150px;
    position: absolute;
    left: 0px;
    top: 650px;
    border: 1px solid #9c9b9b;
}
#list_goods_img{
	position: absolute;
	left: 25px;
	top: 30px;
	width: 11%;
}
.information{
	position: absolute;
	left: 145px;
	top: 15px;
	font-size: 12px;

}
.information_name{
	position: absolute;
	left: 190px;
	top: 50px;
	font-size: 12px;
}
#information_name{
	position: absolute;
	left: 260px;
	top: 50px;
	font-size: 12px;
}
.information_brand{
	position: absolute;
	left: 190px;
	top: 90px;
	font-size: 12px;
}
#information_brand{
	position: absolute;
	left: 260px;
	top: 90px;
	font-size: 12px;
}
.information_caozuo{
	position: absolute;
	left: 575px;
	top:10px;
	font-size: 12px;
	color: #5e5e5e;

}
.information_caozuo li{
	list-style: none;
	float: left;
	margin-left: 70px;

}
#buynum{
	position: absolute;
	left: 655px;
	font-size: 12px;
	color: #5e5e5e;
	top: 65px;

}
#one_money{
	position: absolute;
	left: 745px;
	font-size: 12px;
	color: #5e5e5e;
	top: 65px;
}
#total_money{
	position: absolute;
	left: 855px;
	font-size: 12px;
	color: #5e5e5e;
	top: 65px;
}
.goodslist2{
	width: 100%;
	height: 45px;
	position: absolute;
	left: 0px;
	top: 801px;
	border: 1px solid #9c9b9b;
}
.sendstyle{
	position: absolute;
	left: 655px;
	top:15px;
	font-size: 12px;
	color: #5e5e5e;
}
#sendstyle{
	position: absolute;
	left: 715px;
	top:15px;
	font-size: 12px;
	color: #5e5e5e;
}
.sendmoney{
	position: absolute;
	left: 795px;
	top:15px;
	font-size: 12px;
	color: #5e5e5e;
}
#sendmoney{
	position: absolute;
	left: 855px;
	top:15px;
	font-size: 12px;
	color: #5e5e5e;
}
#fapiao{
	position: absolute;
	left: 30px;
	top: 870px;

}
.fapiao_p{
	position: absolute;
	left: 55px;
	top: 870px;
	color: #5e5e5e;
	font-size: 12px;

}
.information_bottom1{
	position: absolute;
	left: 780px;
	top: 870px;
	color: #5e5e5e;
	font-size: 12px;
}
#number{
	position: absolute;
	left: 810px;
	top: 870px;
	color: #d41a39;
	font-size: 12px;
}
.information_bottom2{
	position: absolute;
	left: 830px;
	top: 870px;
	color: #5e5e5e;
	font-size: 12px;
}
#total_qian{
	position: absolute;
	left: 970px;
	top: 870px;
	color: #d41a39;
	font-size: 12px;
}
.total_send_qian{
	position: absolute;
	left: 870px;
	top: 900px;
	color: #5e5e5e;
	font-size: 12px;
}
#total_send_qian{
	position: absolute;
	left: 970px;
	top: 900px;
	color: #d41a39;
	font-size: 12px;
}
.should_pay{
	position: absolute;
	left: 847px;
	top: 930px;
	color: #5e5e5e;
	font-size: 12px;
}
#should_pay{
	position: absolute;
	left: 970px;
	top: 930px;
	color: #d41a39;
	font-size: 12px;
}
#goback{
	position: absolute;
	left: 55px;
	top: 980px;
	color: #d41a39;
	font-size: 13px;
	text-decoration: none;
}
.should_total_pay{
	position: absolute;
	left: 700px;
	top: 980px;
	color: #5e5e5e;
	font-size: 12px;
}
#should_total_pay{
	position: absolute;
	left: 780px;
	top: 975px;
	color: #d41a39;
	font-size: 20px;
}
#buy{
	width: 140px;
	height: 40px;
	background: #d41a39;
	border: none;
	position: absolute;
	left: 870px;
	top: 970px;
	
}
#buy a{
	text-decoration:none;
	color: white;
	font-size: 18px;
}
