
/*搜索栏*/
.search{
	height: 150px;
    width: 1010px;
    margin: 0px auto;
	
	 
}
.logo{
	position: absolute;
	left: 135px;
	top: 80px;
}
#search_input{
	position: absolute;
    left: 420px;
    top: 85px;
    width: 382px;
    height: 30px;
    border: 4px solid #020202;
}
#search_btn{
	position: absolute;
    left: 810px;
    top: 85px;
    width: 85px;
    height: 38px;
    background-color: #020202;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;

}
.goods_list{
	position: absolute;
	left:430px;
	top: 135px; 
}
.goods_list li{
	float: left;
	font-size: 12px;
	color: #cbcbcb;
	list-style: none;
	margin-left: 7px;
}
.goods_list a{
	text-decoration: none;
	color: #cbcbcb;
}
.goods_list a:hover{
	color: #020202;
}
.shopping_car_img{
	position: absolute;
	left: 1005px;
	top: 100px;
}
#shopping_car{
	position: absolute;
	left: 1045px;
	top: 100px;
	font-size: 15px;
	color: #020202;
	text-decoration: none;
}

/*导航栏*/
#navigation_bar{
	width: 100%;
	height: 40px;
	background-color: #000000;
	margin: 0 auto;
}
.ani_red {
    position: absolute;
    left: 0;
    background: #cc0000;
    height: 40px;
    padding: 0;
}
.nav{
	width: 1010px;
	margin: 0 auto;
}
.nav_li {
    display: inline-block;
    height: 100%;
    padding: 13px 35px;
    cursor: pointer;
    position: relative;
}
.nav_li a{
	text-decoration: none;
	color: white;
	font-size: 13px;
}
.nav_li:hover{
	background-color: #d41a39;
}
/*轮播*/
#banner{
	width: 100%;
	margin: 0 auto;
}
/*今日特惠*/
.today_special{
	width: 1010px;
	height: 1280px;
	margin: 0 auto;
	position: relative;
	
}
.today_special_title{
	color: #86171e;
	font-size: 25px;
	position: absolute;
	left: 340px;
	top: 20px;
}
.hr{
	border-bottom: 2px solid #050001;
	width: 400px;
}
#special_1{
	position: absolute;
	top: 100px;
	left: 40px;
	
	width: 410px;
	height: 190px;
}
#hr1{
	position: absolute;
	left: 0px;
	top: 0px;
}
#special01{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
}
#special01_name{
	position: absolute;
	left: 190px;
	top: 20px;
	color: #323232;
	font-size: 18px;
}
#special01_describe{
	position: absolute;
	left: 220px;
	top: 50px;
	color: #414141;
	font-size: 13px;
}
#special01_money_symbol{
	position: absolute;
	left: 250px;
	top: 110px;
	color: #9f0404;
	font-size:15px;
}
#special01_money_num{
	position: absolute;
	left: 257px;
	top: 100px;
	color: #9f0404;
	font-size:25px;
}
#special01_once{
	text-decoration: line-through;
	position: absolute;
	left: 330px;
	top: 110px;
	font-size: 15px;
	color: #373535;
}
#special01_buy_btn{
	width: 115px;
	height: 25px;
	background-color: #831d1d;
	color: white;
	font-size: 15px;
	border: none;
	position: absolute;
	left: 270px;
	top: 140px;
}

#special_2{
	position: absolute;
	top: 100px;
	left: 550px;
	
	width: 410px;
	height: 190px;
}
#hr2{
	position: absolute;
	left: 0px;
	top: 0px;
}
#special02{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
}
#special02_name{
	position: absolute;
	left: 190px;
	top: 20px;
	color: #323232;
	font-size: 18px;
}
#special02_describe{
	position: absolute;
	left: 220px;
	top: 50px;
	color: #414141;
	font-size: 13px;
}
#special02_money_symbol{
	position: absolute;
	left: 250px;
	top: 110px;
	color: #9f0404;
	font-size:15px;
}
#special02_money_num{
	position: absolute;
	left: 257px;
	top: 100px;
	color: #9f0404;
	font-size:25px;
}
#special02_once{
	text-decoration: line-through;
	position: absolute;
	left: 330px;
	top: 110px;
	font-size: 15px;
	color: #373535;
}
#special02_buy_btn{
	width: 115px;
	height: 25px;
	background-color: #831d1d;
	color: white;
	font-size: 15px;
	border: none;
	position: absolute;
	left: 270px;
	top: 140px;
}

#special_3{
	position: absolute;
	top: 290px;
	left: 40px;
	
	width: 410px;
	height: 190px;
}
#hr3{
	position: absolute;
	left: 0px;
	top: 0px;
}
#special03{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
}
#special03_name{
	position: absolute;
	left: 190px;
	top: 20px;
	color: #323232;
	font-size: 18px;
}
#special03_describe{
	position: absolute;
	left: 220px;
	top: 50px;
	color: #414141;
	font-size: 13px;
}
#special03_money_symbol{
	position: absolute;
	left: 250px;
	top: 110px;
	color: #9f0404;
	font-size:15px;
}
#special03_money_num{
	position: absolute;
	left: 257px;
	top: 100px;
	color: #9f0404;
	font-size:25px;
}
#special03_once{
	text-decoration: line-through;
	position: absolute;
	left: 330px;
	top: 110px;
	font-size: 15px;
	color: #373535;
}
#special03_buy_btn{
	width: 115px;
	height: 25px;
	background-color: #831d1d;
	color: white;
	font-size: 15px;
	border: none;
	position: absolute;
	left: 270px;
	top: 140px;
}
#special_4{
	position: absolute;
	top: 290px;
	left: 550px;
	
	width: 410px;
	height: 190px;
}
#hr4{
	position: absolute;
	left: 0px;
	top: 0px;
}
#special04{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
}
#special04_name{
	position: absolute;
	left: 190px;
	top: 20px;
	color: #323232;
	font-size: 18px;
}
#special04_describe{
	position: absolute;
	left: 220px;
	top: 50px;
	color: #414141;
	font-size: 13px;
}
#special04_money_symbol{
	position: absolute;
	left: 250px;
	top: 110px;
	color: #9f0404;
	font-size:15px;
}
#special04_money_num{
	position: absolute;
	left: 257px;
	top: 100px;
	color: #9f0404;
	font-size:25px;
}
#special04_once{
	text-decoration: line-through;
	position: absolute;
	left: 330px;
	top: 110px;
	font-size: 15px;
	color: #373535;
}
#special04_buy_btn{
	width: 115px;
	height: 25px;
	background-color: #831d1d;
	color: white;
	font-size: 15px;
	border: none;
	position: absolute;
	left: 270px;
	top: 140px;
}
#special_5{
	position: absolute;
	top: 480px;
	left: 40px;
	
	width: 410px;
	height: 190px;
}
#hr5{
	position: absolute;
	left: 0px;
	top: 0px;
}
#special05{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
}
#special05_name{
	position: absolute;
	left: 190px;
	top: 20px;
	color: #323232;
	font-size: 18px;
}
#special05_describe{
	position: absolute;
	left: 220px;
	top: 50px;
	color: #414141;
	font-size: 13px;
}
#special05_money_symbol{
	position: absolute;
	left: 250px;
	top: 110px;
	color: #9f0404;
	font-size:15px;
}
#special05_money_num{
	position: absolute;
	left: 257px;
	top: 100px;
	color: #9f0404;
	font-size:25px;
}
#special05_once{
	text-decoration: line-through;
	position: absolute;
	left: 330px;
	top: 110px;
	font-size: 15px;
	color: #373535;
}
#special05_buy_btn{
	width: 115px;
	height: 25px;
	background-color: #831d1d;
	color: white;
	font-size: 15px;
	border: none;
	position: absolute;
	left: 270px;
	top: 140px;
}
#special_6{
	position: absolute;
	top: 480px;
	left: 550px;
	
	width: 410px;
	height: 190px;
}
#hr6{
	position: absolute;
	left: 0px;
	top: 0px;
}
#special06{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
}
#special06_name{
	position: absolute;
	left: 190px;
	top: 20px;
	color: #323232;
	font-size: 18px;
}
#special06_describe{
	position: absolute;
	left: 220px;
	top: 50px;
	color: #414141;
	font-size: 13px;
}
#special06_money_symbol{
	position: absolute;
	left: 250px;
	top: 110px;
	color: #9f0404;
	font-size:15px;
}
#special06_money_num{
	position: absolute;
	left: 257px;
	top: 100px;
	color: #9f0404;
	font-size:25px;
}
#special06_once{
	text-decoration: line-through;
	position: absolute;
	left: 330px;
	top: 110px;
	font-size: 15px;
	color: #373535;
}
#special06_buy_btn{
	width: 115px;
	height: 25px;
	background-color: #831d1d;
	color: white;
	font-size: 15px;
	border: none;
	position: absolute;
	left: 270px;
	top: 140px;
}
#special_7{
	position: absolute;
	top: 670px;
	left: 40px;
	
	width: 410px;
	height: 190px;
}
#hr7{
	position: absolute;
	left: 0px;
	top: 0px;
}
#special07{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
}
#special07_name{
	position: absolute;
	left: 190px;
	top: 20px;
	color: #323232;
	font-size: 18px;
}
#special07_describe{
	position: absolute;
	left: 220px;
	top: 50px;
	color: #414141;
	font-size: 13px;
}
#special07_money_symbol{
	position: absolute;
	left: 250px;
	top: 110px;
	color: #9f0404;
	font-size:15px;
}
#special07_money_num{
	position: absolute;
	left: 257px;
	top: 100px;
	color: #9f0404;
	font-size:25px;
}
#special07_once{
	text-decoration: line-through;
	position: absolute;
	left: 330px;
	top: 110px;
	font-size: 15px;
	color: #373535;
}
#special07_buy_btn{
	width: 115px;
	height: 25px;
	background-color: #831d1d;
	color: white;
	font-size: 15px;
	border: none;
	position: absolute;
	left: 270px;
	top: 140px;
}
#special_8{
	position: absolute;
	top: 670px;
	left: 550px;
	
	width: 410px;
	height: 190px;
}
#hr8{
	position: absolute;
	left: 0px;
	top: 0px;
}
#special08{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
}
#special08_name{
	position: absolute;
	left: 190px;
	top: 20px;
	color: #323232;
	font-size: 18px;
}
#special08_describe{
	position: absolute;
	left: 220px;
	top: 50px;
	color: #414141;
	font-size: 13px;
}
#special08_money_symbol{
	position: absolute;
	left: 250px;
	top: 110px;
	color: #9f0404;
	font-size:15px;
}
#special08_money_num{
	position: absolute;
	left: 257px;
	top: 100px;
	color: #9f0404;
	font-size:25px;
}
#special08_once{
	text-decoration: line-through;
	position: absolute;
	left: 330px;
	top: 110px;
	font-size: 15px;
	color: #373535;
}
#special08_buy_btn{
	width: 115px;
	height: 25px;
	background-color: #831d1d;
	color: white;
	font-size: 15px;
	border: none;
	position: absolute;
	left: 270px;
	top: 140px;
}
#special_9{
	position: absolute;
	top: 860px;
	left: 40px;
	
	width: 410px;
	height: 190px;
}
#hr9{
	position: absolute;
	left: 0px;
	top: 0px;
}
#special09{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
}
#special09_name{
	position: absolute;
	left: 190px;
	top: 20px;
	color: #323232;
	font-size: 18px;
}
#special09_describe{
	position: absolute;
	left: 220px;
	top: 50px;
	color: #414141;
	font-size: 13px;
}
#special09_money_symbol{
	position: absolute;
	left: 250px;
	top: 110px;
	color: #9f0404;
	font-size:15px;
}
#special09_money_num{
	position: absolute;
	left: 257px;
	top: 100px;
	color: #9f0404;
	font-size:25px;
}
#special09_once{
	text-decoration: line-through;
	position: absolute;
	left: 330px;
	top: 110px;
	font-size: 15px;
	color: #373535;
}
#special09_buy_btn{
	width: 115px;
	height: 25px;
	background-color: #831d1d;
	color: white;
	font-size: 15px;
	border: none;
	position: absolute;
	left: 270px;
	top: 140px;
}
#special_10{
	position: absolute;
	top: 860px;
	left: 550px;
	
	width: 410px;
	height: 190px;
}
#hr10{
	position: absolute;
	left: 0px;
	top: 0px;
}
#special10{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
}
#special10_name{
	position: absolute;
	left: 190px;
	top: 20px;
	color: #323232;
	font-size: 18px;
}
#special10_describe{
	position: absolute;
	left: 220px;
	top: 50px;
	color: #414141;
	font-size: 13px;
}
#special10_money_symbol{
	position: absolute;
	left: 250px;
	top: 110px;
	color: #9f0404;
	font-size:15px;
}
#special10_money_num{
	position: absolute;
	left: 257px;
	top: 100px;
	color: #9f0404;
	font-size:25px;
}
#special10_once{
	text-decoration: line-through;
	position: absolute;
	left: 330px;
	top: 110px;
	font-size: 15px;
	color: #373535;
}
#special10_buy_btn{
	width: 115px;
	height: 25px;
	background-color: #831d1d;
	color: white;
	font-size: 15px;
	border: none;
	position: absolute;
	left: 270px;
	top: 140px;
}
#special_11{
	position: absolute;
	top: 1050px;
	left: 40px;
	
	width: 410px;
	height: 190px;
}
#hr11{
	position: absolute;
	left: 0px;
	top: 0px;
}
#special11{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
}
#special11_name{
	position: absolute;
	left: 190px;
	top: 20px;
	color: #323232;
	font-size: 18px;
}
#special11_describe{
	position: absolute;
	left: 220px;
	top: 50px;
	color: #414141;
	font-size: 13px;
}
#special11_money_symbol{
	position: absolute;
	left: 250px;
	top: 110px;
	color: #9f0404;
	font-size:15px;
}
#special11_money_num{
	position: absolute;
	left: 257px;
	top: 100px;
	color: #9f0404;
	font-size:25px;
}
#special11_once{
	text-decoration: line-through;
	position: absolute;
	left: 330px;
	top: 110px;
	font-size: 15px;
	color: #373535;
}
#special11_buy_btn{
	width: 115px;
	height: 25px;
	background-color: #831d1d;
	color: white;
	font-size: 15px;
	border: none;
	position: absolute;
	left: 270px;
	top: 140px;
}
#special_12{
	position: absolute;
	top: 1050px;
	left: 550px;
	
	width: 410px;
	height: 190px;
}
#hr12{
	position: absolute;
	left: 0px;
	top: 0px;
}
#special12{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
}
#special12_name{
	position: absolute;
	left: 190px;
	top: 20px;
	color: #323232;
	font-size: 18px;
}
#special12_describe{
	position: absolute;
	left: 220px;
	top: 50px;
	color: #414141;
	font-size: 13px;
}
#special12_money_symbol{
	position: absolute;
	left: 250px;
	top: 110px;
	color: #9f0404;
	font-size:15px;
}
#special12_money_num{
	position: absolute;
	left: 257px;
	top: 100px;
	color: #9f0404;
	font-size:25px;
}
#special12_once{
	text-decoration: line-through;
	position: absolute;
	left: 330px;
	top: 110px;
	font-size: 15px;
	color: #373535;
}
#special12_buy_btn{
	width: 115px;
	height: 25px;
	background-color: #831d1d;
	color: white;
	font-size: 15px;
	border: none;
	position: absolute;
	left: 270px;
	top: 140px;
}
/*每日优选*/
.daily_optimal{
	width: 1010px;
	height: 1880px;
	margin: 0px auto;
	position: relative;
	
}
.daily_optimal_title{
	color: #86171e;
	font-size: 25px;
	position: absolute;
	left: 340px;
	top: 40px;
}
#opmital1{
	position: absolute;
	left: 20px;
	top: 120px;
	width: 45%;
}
#optimal1_describe{
	width: 450px;
	height: 408px;
	background-color: #eceaed;
	position: absolute;
	left: 475px;
	top: 123px;
	box-shadow: 0 2px 16px grey, 0 0 1px grey, 0 0 1px grey;
}
#optimal1_name{
	position: absolute;
	left: 135px;
	top: 10px;
	font-size: 15px;
	color: #3a3a3a;
}
#optimal1_introduce{
	position: absolute;
	left: 25px;
	top: 50px;
	font-size: 12px;
	color: #3a3a3a;
	line-height: 250%;
	letter-spacing: 1px;
}
.opmital1_policy{
	color: #8f8f90;
	font-size: 12px;
	position: absolute;
	left: 25px;
	top: 200px;
}
.opmital1_service_policy{
	color: #8f8f90;
	font-size: 12px;
	position: absolute;
	left: 25px;
	top: 230px;
}
.opmital1_goods_style{
	color: #8f8f90;
	font-size: 12px;
	position: absolute;
	left: 260px;
	top: 190px;
	line-height: 265%;
}
.opmital1_money_symbol{
	font-size: 15px;
	color: #9f0404;
	position: absolute;
	left: 50px;
	top: 300px;
}
#opmital1_money_num{
	font-size: 40px;
	color: #9f0404;
	position: absolute;
	left: 60px;
	top: 255px;
}
#opmital1_golook{
	width: 140px;
	height: 35px;
	position: absolute;
	left: 270px;
	top: 320px;
	color: white;
	background-color: #e60012;
	border: none;
}
#opmital1_people_num{
	position: absolute;
	left: 50px;
	top: 360px;
	color: #c4540a;
	font-size: 12px;
}
.opmital1_buy{
	position: absolute;
	left: 80px;
	top: 360px;
	font-size: 12px;
}


#opmital2{
	position: absolute;
	left: 20px;
	top: 565px;
	width: 45%;
}
#optimal2_describe{
	width: 450px;
	height: 408px;
	background-color: #eceaed;
	position: absolute;
	left: 475px;
	top: 568px;
	box-shadow: 0 2px 16px grey, 0 0 1px grey, 0 0 1px grey;
}
#optimal2_name{
	position: absolute;
	left: 135px;
	top: 10px;
	font-size: 15px;
	color: #3a3a3a;
}
#optimal2_introduce{
	position: absolute;
	left: 25px;
	top: 50px;
	font-size: 12px;
	color: #3a3a3a;
	line-height: 250%;
	letter-spacing: 1px;
}
.opmimal2_policy{
	color: #8f8f90;
	font-size: 12px;
	position: absolute;
	left:25px;
	top: 220px; 
}
.opmimal2_service_policy{
	color: #8f8f90;
	font-size: 12px;
	position: absolute;
	left: 25px;
	top: 250px;
}
.opmimal2_goods_style{
	color: #8f8f90;
	font-size: 12px;
	position: absolute;
	left: 260px;
	top: 210px;
	line-height: 265%;
}

.opmital2_money_symbol{
	font-size: 15px;
	color: #9f0404;
	position: absolute;
	left: 50px;
	top: 300px;
}
#opmital2_money_num{
	font-size: 40px;
	color: #9f0404;
	position: absolute;
	left: 60px;
	top: 255px;
}
#opmital2_golook{
	width: 140px;
	height: 35px;
	position: absolute;
	left: 270px;
	top: 320px;
	color: white;
	background-color: #e60012;
	border: none;
}
#opmital2_people_num{
	position: absolute;
	left: 50px;
	top: 360px;
	color: #c4540a;
	font-size: 12px;
}
.opmital2_buy{
	position: absolute;
	left: 80px;
	top: 360px;
	font-size: 12px;
}

#opmital3{
	position: absolute;
	left: 20px;
	top: 1010px;
	width: 45%;
}
#optimal3_describe{
	width: 450px;
	height: 408px;
	background-color: #eceaed;
	position: absolute;
	left: 475px;
	top: 1013px;
	box-shadow: 0 2px 16px grey, 0 0 1px grey, 0 0 1px grey;
}
#optimal3_name{
	position: absolute;
	left: 135px;
	top: 10px;
	font-size: 15px;
	color: #3a3a3a;
}
#optimal3_introduce{
	position: absolute;
	left: 25px;
	top: 50px;
	font-size: 12px;
	color: #3a3a3a;
	line-height: 250%;
	letter-spacing: 1px;
}
.opmital3_policy{
	color: #8f8f90;
	font-size: 12px;
	position: absolute;
	left: 25px;
	top: 200px;
}
.opmital3_service_policy{
	color: #8f8f90;
	font-size: 12px;
	position: absolute;
	left: 25px;
	top: 230px;
}
.opmital3_goods_style{
	color: #8f8f90;
	font-size: 12px;
	position: absolute;
	left: 260px;
	top: 190px;
	line-height: 265%;
}
.opmital3_money_symbol{
	font-size: 15px;
	color: #9f0404;
	position: absolute;
	left: 50px;
	top: 300px;
}
#opmital3_money_num{
	font-size: 40px;
	color: #9f0404;
	position: absolute;
	left: 60px;
	top: 255px;
}
#opmital3_golook{
	width: 140px;
	height: 35px;
	position: absolute;
	left: 270px;
	top: 320px;
	color: white;
	background-color: #e60012;
	border: none;
}
#opmital3_people_num{
	position: absolute;
	left: 50px;
	top: 360px;
	color: #c4540a;
	font-size: 12px;
}
.opmital3_buy{
	position: absolute;
	left: 80px;
	top: 360px;
	font-size: 12px;
}


#opmital4{
	position: absolute;
	left: 20px;
	top: 1455px;
	width: 45%;
}
#optimal4_describe{
	width: 450px;
	height: 408px;
	background-color: #eceaed;
	position: absolute;
	left: 475px;
	top: 1458px;
	box-shadow: 0 2px 16px grey, 0 0 1px grey, 0 0 1px grey;
}
#optimal4_name{
	position: absolute;
	left: 135px;
	top: 10px;
	font-size: 15px;
	color: #3a3a3a;
}
#optimal4_introduce{
	position: absolute;
	left: 25px;
	top: 50px;
	font-size: 12px;
	color: #3a3a3a;
	line-height: 250%;
	letter-spacing: 1px;
}
.opmimal4_policy{
	color: #8f8f90;
	font-size: 12px;
	position: absolute;
	left:25px;
	top: 220px; 
}
.opmimal4_service_policy{
	color: #8f8f90;
	font-size: 12px;
	position: absolute;
	left: 25px;
	top: 250px;
}
.opmimal4_goods_style{
	color: #8f8f90;
	font-size: 12px;
	position: absolute;
	left: 260px;
	top: 210px;
	line-height: 265%;
}

.opmital4_money_symbol{
	font-size: 15px;
	color: #9f0404;
	position: absolute;
	left: 50px;
	top: 300px;
}
#opmital4_money_num{
	font-size: 40px;
	color: #9f0404;
	position: absolute;
	left: 60px;
	top: 255px;
}
#opmital4_golook{
	width: 140px;
	height: 35px;
	position: absolute;
	left: 270px;
	top: 320px;
	color: white;
	background-color: #e60012;
	border: none;
}
#opmital4_people_num{
	position: absolute;
	left: 50px;
	top: 360px;
	color: #c4540a;
	font-size: 12px;
}
.opmital4_buy{
	position: absolute;
	left: 80px;
	top: 360px;
	font-size: 12px;
}

/*销量排行榜*/
.list{
	width: 1010px;
	height:2300px;
	margin: 0 auto;
	position: relative;
	
}
#salelist{
	background-color: #343434;
	width:200px ;
	height: 50px;
	position:absolute;
	left: 275px;
	top:50px;
	border: 2px solid #343434;
	color: white;
	font-size: 25px;
}
#collection_list{
	background-color: white;
	width:200px ;
	height: 50px;
	position:absolute;
	left: 475px;
	top:50px;
	border: 2px solid #343434;
	color: #343434;
	font-size: 25px;
}
.hr_top{
	width: 1010px;
	border-bottom: 4px solid #343434;
	position: absolute;
	
	top:98px;
}

.sale1{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 160px;
	left: 40px;
}
#sale1_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale1_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale1_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale1_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale1_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale2{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 160px;
	left: 275px;
}
#sale2_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale2_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale2_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale2_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale2_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale3{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 160px;
	left: 510px;
}
#sale3_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale3_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale3_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale3_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale3_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale4{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 160px;
	left: 745px;
}

#sale4_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale4_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale4_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale4_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale4_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}


.sale5{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 510px;
	left: 40px;
}
#sale5_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale5_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale5_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale5_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale5_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale6{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 510px;
	left: 275px;
}
#sale6_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale6_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale6_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale6_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale6_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale7{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 510px;
	left: 510px;
}
#sale7_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale7_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale7_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale7_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale7_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}


.sale8{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 510px;
	left: 745px;
}

#sale8_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale8_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale8_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale8_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale8_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}


.sale9{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 860px;
	left: 40px;
}
#sale9_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale9_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale9_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale9_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale9_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale10{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 860px;
	left: 275px;
}
#sale10_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale10_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale10_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale10_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale10_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale11{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 860px;
	left: 510px;
}
#sale11_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale11_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale11_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale11_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale11_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}


.sale12{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 860px;
	left: 745px;
}

#sale12_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale12_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale12_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale12_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale12_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale13{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 1210px;
	left: 40px;
}
#sale13_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale13_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale13_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale13_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale13_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale14{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 1210px;
	left: 275px;
}
#sale14_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale14_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale14_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale14_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale14_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale15{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 1210px;
	left: 510px;
}
#sale15_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale15_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale15_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale15_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale15_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}


.sale16{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 1210px;
	left: 745px;
}

#sale16_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale16_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale16_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale16_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale16_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale17{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 1560px;
	left: 40px;
}
#sale17_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale17_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale17_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale17_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale17_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale18{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 1560px;
	left: 275px;
}
#sale18_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale18_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale18_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale18_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale18_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale19{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 1560px;
	left: 510px;
}
#sale19_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale19_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale19_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale19_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale19_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}


.sale20{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 1560px;
	left: 745px;
}

#sale20_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale20_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale20_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale20_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale20_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale21{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 1910px;
	left: 40px;
}
#sale21_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale21_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale21_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale21_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale21_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale22{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 1910px;
	left: 275px;
}
#sale22_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale22_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale22_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale22_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale22_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}

.sale23{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 1910px;
	left: 510px;
}
#sale23_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale23_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale23_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale23_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale23_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}


.sale24{
	border: 2px solid #eceaed;
	width: 216px;
	height: 306px;
	position: absolute;
	top: 1910px;
	left: 745px;
}

#sale24_name{
	position: absolute;
	left: 10px;
	top: 215px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale24_descript{
	position: absolute;
	left: 10px;
	top: 240px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale24_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 275px;

}
#sale24_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 260px;

}
#sale24_buy{
	width: 90px;
	height: 27px;
	background-color: #e60012;
	color: white;
	font-size: 13px;
	position: absolute;
	left: 115px;
	top: 270px;
	border: none;
}
.hr_bottom{
	width: 100%;
	border-bottom: 3px solid #838383;
	position: absolute;
	top: 2270px;
}

/*换退规则*/

.change{
	width: 1010px;
	height: 400px;
	position: relative;
	margin: 0 auto;
}
.zheng_img{
	position: absolute;
	left: 80px;
	top: 30px;
	width: 4%;
}
.zheng_descript{
	color: #373737;
	font-size: 14px;
	position: absolute;
	left: 155px;
	top: 5px;
	line-height: 200%;
}

.huan_img{
	position: absolute;
	left: 80px;
	top: 160px;
	width: 4%;
}
.huan_descript{
	color: #373737;
	font-size: 14px;
	position: absolute;
	left: 155px;
	top: 135px;
	line-height: 200%;
}

.tui_img{
	position: absolute;
	left: 80px;
	top: 290px;
	width: 4%;
}
.tui_descript{
	color: #373737;
	font-size: 14px;
	position: absolute;
	left: 155px;
	top: 265px;
	line-height: 200%;
}


