





 





.shoppingcar{
	width: 1010px;
	height: 1030px;
	margin: 0 auto;
	position: relative;
	background-color: #f1f1f1;
}
.allgoods{
	position: absolute;
	left: 30px;
	top: 50px;
	font-size: 23px;
	color: #d41a39;
}
.allgoods_hr{
	position: absolute;
	left: 0px;
	top: 100px;
	width: 100%;
}
#allselect1{
	position: absolute;
	left: 30px;
	top: 140px;

}
.allselect1_p{
	position: absolute;
	left: 50px;
	top: 140px;
	color: #5e5e5e;
	font-size: 12px;

}
.car_goods{
	width: 100%;
    height: 170px;
    position: absolute;
    left: 0px;
    top: 180px;
    border: 1px solid #bebebe;
}

#allselect2{
	position: absolute;
	left: 30px;
	top: 10px;

}
.allselect2_p{
	position: absolute;
	left: 50px;
	top: 10px;
	color: #5e5e5e;
	font-size: 12px;

}
#person_goods_img{
	position: absolute;
	left: 37px;
	top: 37px;
	width: 12%;
}
.car_goods_name{
	font-size: 13px;
	color: #5e5e5e;
	position: absolute;
	left: 205px;
	top: 40px;

}
#shoppingcar_goods_name{
	font-size: 13px;
	color: #5e5e5e;
	position: absolute;
	left: 275px;
	top: 40px;
}

.car_goods_brand{
	font-size: 13px;
	color: #5e5e5e;
	position: absolute;
	left: 205px;
	top: 80px;

}
#shoppingcar_goods_brand{
	font-size: 13px;
	color: #5e5e5e;
	position: absolute;
	left: 275px;
	top: 80px;
}


.car_goods_use{
	font-size: 13px;
	color: #5e5e5e;
	position: absolute;
	left: 205px;
	top: 120px;

}
#shoppingcar_goods_use{
	font-size: 13px;
	color: #5e5e5e;
	position: absolute;
	left: 275px;
	top: 120px;
}


.shoppingcar_caozuo{
	position: absolute;
	left: 540px;
	top:10px;
	font-size: 12px;
	color: #5e5e5e;

}
.shoppingcar_caozuo li{
	list-style: none;
	float: left;
	margin-left: 50px;
}
.number{
	position: absolute;
	left: 55px;
	top: 0px;
}
#btn_subtraction{
 	width: 15px;
    height: 20px;
    position: absolute;
    left: 515px;
    top: 87px;
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
    font-size: 12px;
 }
 #num_input{
 	width: 58px;
    height: 18px;
    border: 1px solid #bdbdbd;
    position: absolute;
    left: 529px;
    top: 87px;
 }
 #btn_add{
 	width: 15px;
 	height: 20px;
 	position: absolute;
 	left: 588px;
 	top: 87px;
 	background-color: #ffffff;
 	border:1px solid #bdbdbd;
 	font-size: 12px;
 }
 #shoppingcar_goods_single_money{
 	position: absolute;
 	left: 695px;
 	top: 90px;
 	color: #5e5e5e;
 	font-size: 12px;
 }
 #shoppingcar_goods_total_money{
 	position: absolute;
 	left: 780px;
 	top: 90px;
 	color: #5e5e5e;
 	font-size: 12px;
 }
 #shoppingcar_delete_btn{
 	position: absolute;
 	left: 870px;
 	top: 87px;

 }
 #clear-select-goods{
	position: absolute;
	left: 30px;
	top: 380px;

}
.clear-select-goods-p{
	position: absolute;
	left: 50px;
	top: 380px;
	color: #5e5e5e;
	font-size: 12px;

}
.totalmoney{
	position: absolute;
	left: 830px;
	top: 380px;
	color: #5e5e5e;
	font-size: 12px;
}

#totalmoney_num{
	position: absolute;
	left: 910px;
	top: 380px;
	color: #d41a39;
	font-size: 12px;
}
.totalmoney2{
	position: absolute;
	left: 960px;
	top: 380px;
	color: #5e5e5e;
	font-size: 12px;
}
#jiesuanlan{
	width: 100%;
	height: 47px;
	background: #f8bdc7;
	position: absolute;
	left: 0px;
	top: 430px;
}
#gopay{
	background-color: #d41a39;
	
	width: 135px;
	height: 100%;
	position: absolute;
	left: 875px;
	top: 0px;
	border: none;
}
#gopay a{
	font-size: 15px;
	color: white;
	text-decoration:none;
}

#allselect3{
	position: absolute;
	left: 30px;
	top: 15px;

}
.allselect3_p{
	position: absolute;
	left: 50px;
	top: 15px;
	color: #5e5e5e;
	font-size: 12px;

}
.alreaday-choose1{
	position: absolute;
	left: 500px;
	top: 15px;
	color: #5e5e5e;
	font-size: 12px;
}

#choose_num{
	position: absolute;
	left: 540px;
	top: 15px;
	color: #d41a39;
	font-size: 12px;
}
.alreaday-choose2{
	position: absolute;
	left: 550px;
	top: 15px;
	color: #5e5e5e;
	font-size: 12px;
}
.gongji_money1{
	position: absolute;
	left: 620px;
	top: 15px;
	color: #5e5e5e;
	font-size: 12px;
}
#gongji_money{
	position: absolute;
	left: 670px;
	top: 15px;
	color: #d41a39;
	font-size: 12px;
}
.gongji_money2{
	position: absolute;
	left: 710px;
	top: 15px;
	color: #5e5e5e;
	font-size: 12px;
}

/*最近浏览*/
.recent_see{
	position: absolute;
	left: 30px;
	top: 580px;
	font-size: 23px;
	color: #d41a39;
}
.recent_see_hr{
	position: absolute;
	left: 0px;
	top: 640px;
	width: 100%;
}
.sale1{
	border: 2px solid #eceaed;
	width: 200px;
	height: 266px;
	position: absolute;
	top: 700px;
	left: 50px;
}
.sale1>img{
	width: 100%;
}
.background{
	width: 100%;
	height: 69px;
	background-color: #eceaed;
}
#sale1_name{
	position: absolute;
	left: 10px;
	top: 205px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale1_descript{
	position: absolute;
	left: 10px;
	top: 235px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale1_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 140px;
	top: 235px;

}
#sale1_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 145px;
	top: 220px;

}

.sale2{
	border: 2px solid #eceaed;
	width: 200px;
	height: 266px;
	position: absolute;
	top: 700px;
	left: 285px;
}
.sale2>img{
	width: 100%;
}
.background2{
	width: 100%;
	height: 69px;
	background-color: #eceaed;
}
#sale2_name{
	position: absolute;
	left: 10px;
	top: 205px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale2_descript{
	position: absolute;
	left: 10px;
	top: 235px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale2_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 140px;
	top: 235px;

}
#sale2_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 145px;
	top: 220px;

}
.sale3{
	border: 2px solid #eceaed;
	width: 200px;
	height: 266px;
	position: absolute;
	top: 700px;
	left: 520px;
}
.sale3>img{
	width: 100%;
}
.background3{
	width: 100%;
	height: 69px;
	background-color: #eceaed;
}
#sale3_name{
	position: absolute;
	left: 10px;
	top: 205px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale3_descript{
	position: absolute;
	left: 10px;
	top: 235px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale3_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 140px;
	top: 235px;

}
#sale3_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 145px;
	top: 220px;

}

.sale4{
	border: 2px solid #eceaed;
	width: 200px;
	height: 266px;
	position: absolute;
	top: 700px;
	left: 755px;
}
.sale4>img{
	width: 100%;
}
.background4{
	width: 100%;
	height: 69px;
	background-color: #eceaed;
}
#sale4_name{
	position: absolute;
	left: 10px;
	top: 205px;
	color: #3a3a3a;
	font-size: 12px;
}
#sale4_descript{
	position: absolute;
	left: 10px;
	top: 235px;
	color: #7f7e7e;
	font-size: 12px;
}
.sale4_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 140px;
	top: 235px;

}
#sale4_money_num{
	color: #9f0404;
	font-size: 30px;
	position: absolute;
	left: 145px;
	top: 220px;

}


/*底部*/
#bottom{
	position: relative;
	width: 100%px;
	height: 230px;
	background-color: #d41a39;
}
.service_guarantee{
	position: absolute;
	left: 130px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#service_list{
	position: absolute;
	left: 90px;
	top: 35px;
}
#service li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.use_help{
	position: absolute;
	left: 270px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#help_list{
	position: absolute;
	left: 230px;
	top: 35px;
}
#help li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.pay_style{
	position: absolute;
	left: 410px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#pay_list{
	position: absolute;
	left: 370px;
	top: 35px;
}
#pay li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.distribution_style{
	position: absolute;
	left: 560px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#distribution_list{
	position: absolute;
	left: 510px;
	top: 35px;
}
#distribution li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.after_sales_service{
	position: absolute;
	left: 690px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#after_sales_list{
	position: absolute;
	left: 650px;
	top: 35px;
}
#after_sales li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.phone_client{
	position: absolute;
	left: 830px;
	top: 10px;
	color: white;
	font-size: 15px;
}
.phone_ewm{
	position: absolute;
	left: 837px;
	top: 50px;
}
.scan{
	position: absolute;
	left: 843px;
	top: 155px;
	font-size: 13px;
	color: white;
}
.official_weixin{
	position: absolute;
	left: 1040px;
	top: 10px;
	color: white;
	font-size: 15px;
}
.weixin_ewm{
	position: absolute;
	left: 1020px;
	top: 49px;
}
.official_scan{
	position: absolute;
	left: 1030px;
	top: 155px;
	font-size: 13px;
	color: white;
}
.statement{
	position: absolute;
	top: 180px;
	left: 180px;
	color: white;
	font-size: 8px;

}













