/*确认地址页面*/
.cofirm_address{
	position: relative;
	width: 100%;
	height: 1150px;
	
}


.confirm_shipping_address{
	position: absolute;
	left: 220px;
	top: 190px;
	font-size: 20px;
	color: #d41a39;
}
.allgoods_hr{
	position: absolute;
	left: 185px;
	top: 255px;
	width: 71%;
}
.send_address{
	width: 800px;
    height: 43px;
    background: #f8bdc7;
    position: absolute;
    left: 225px;
    top: 290px;
}
.local{
	position: absolute;
	left: 15px;
	top: 10px;
}
.sendto{
	position: absolute;
	left: 45px;
	top: 5px;
	color: #d41a39;
	font-size: 12px;
}
#radio_address1{
	position: absolute;
	left: 100px;
	top: 12px;
}
#address1{
	position: absolute;
	left: 130px;
	top: 5px;
	color: #000000;
	font-size: 12px;
}
#modify{
	position: absolute;
	left: 730px;
	top: 15px;
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}
#radio_address2{
	position: absolute;
	left: 325px;
	top: 350px;
}
#address2{
	position: absolute;
	left: 355px;
	top: 342px;
	color: #000000;
	font-size: 12px;
}
#add_address{
	width: 128px;
	height: 26px;
	border: none;
	position: absolute;
	left: 360px;
	top: 390px;
	background-color: #e2e2e2;
}

.send_time{
	position: absolute;
	left: 220px;
	top: 450px;
	font-size: 20px;
	color: #d41a39;
}
.send_time_hr{
	position: absolute;
	left: 185px;
	top: 520px;
	width: 71%;
}

#only_work_day{
	
	height: 38px;
	border: none;
	background-color: #e2e2e2;
	position: absolute;
	left: 200px;
	top: 550px;

}
#only_weekend{
	 height: 38px;
	border: none;
	background-color: #e2e2e2;
	position: absolute;
	left: 410px;
	top: 550px;
}
#all_ok{
	 height: 38px;
	border: none;
	background-color: #e2e2e2;
	position: absolute;
	left: 620px;
	top: 550px;
}
.confirm_goods_list{
	position: absolute;
	left: 220px;
	top: 630px;
	font-size: 20px;
	color: #d41a39;
}
.confirm_goods_list_hr{
	position: absolute;
	left: 185px;
	top: 700px;
	width: 71%;
}
.goodslist1{
	width: 905px;
	height: 150px;
	position: absolute;
	left: 185px;
	top: 740px;
	border: 1px solid #9c9b9b;
}
#list_goods_img{
	position: absolute;
	left: 25px;
	top: 30px;
	width: 12%;
}
.information{
	position: absolute;
	left: 140px;
	top: 0px;
	font-size: 12px;

}
.information_name{
	position: absolute;
	left: 190px;
	top: 40px;
	font-size: 12px;
}
#information_name{
	position: absolute;
	left: 260px;
	top: 40px;
	font-size: 12px;
}
.information_brand{
	position: absolute;
	left: 190px;
	top: 80px;
	font-size: 12px;
}
#information_brand{
	position: absolute;
	left: 260px;
	top: 80px;
	font-size: 12px;
}
.information_caozuo{
	position: absolute;
	left: 450px;
	top:0px;
	font-size: 12px;
	color: #5e5e5e;

}
.information_caozuo li{
	list-style: none;
	float: left;
	margin-left: 70px;

}
#buynum{
	position: absolute;
	left: 570px;
	font-size: 12px;
	color: #5e5e5e;
	top: 65px;

}
#one_money{
	position: absolute;
	left: 660px;
	font-size: 12px;
	color: #5e5e5e;
	top: 65px;
}
#total_money{
	position: absolute;
	left: 770px;
	font-size: 12px;
	color: #5e5e5e;
	top: 65px;
}
.goodslist2{
	width: 905px;
	height: 45px;
	position: absolute;
	left: 185px;
	top: 891px;
	border: 1px solid #9c9b9b;
}
.sendstyle{
	position: absolute;
	left: 625px;
	top:5px;
	font-size: 12px;
	color: #5e5e5e;
}
#sendstyle{
	position: absolute;
	left: 685px;
	top:5px;
	font-size: 12px;
	color: #5e5e5e;
}
.sendmoney{
	position: absolute;
	left: 765px;
	top:5px;
	font-size: 12px;
	color: #5e5e5e;
}
#sendmoney{
	position: absolute;
	left: 825px;
	top:5px;
	font-size: 12px;
	color: #5e5e5e;
}
#fapiao{
	position: absolute;
	left: 215px;
	top: 960px;

}
.fapiao_p{
	position: absolute;
	left: 240px;
	top: 950px;
	color: #5e5e5e;
	font-size: 12px;

}
.information_bottom1{
	position: absolute;
	left: 820px;
	top: 950px;
	color: #5e5e5e;
	font-size: 12px;
}
#number{
	position: absolute;
	left: 850px;
	top: 950px;
	color: #d41a39;
	font-size: 12px;
}
.information_bottom2{
	position: absolute;
	left: 870px;
	top: 950px;
	color: #5e5e5e;
	font-size: 12px;
}
#total_qian{
	position: absolute;
	left: 1010px;
	top: 950px;
	color: #d41a39;
	font-size: 12px;
}
.total_send_qian{
	position: absolute;
	left: 910px;
	top: 980px;
	color: #5e5e5e;
	font-size: 12px;
}
#total_send_qian{
	position: absolute;
	left: 1010px;
	top: 980px;
	color: #d41a39;
	font-size: 12px;
}
.should_pay{
	position: absolute;
	left: 887px;
	top: 1010px;
	color: #5e5e5e;
	font-size: 12px;
}
#should_pay{
	position: absolute;
	left: 1010px;
	top: 1010px;
	color: #d41a39;
	font-size: 12px;
}
#goback{
	position: absolute;
	left: 215px;
	top: 1060px;
	color: #d41a39;
	font-size: 13px;
	text-decoration: none;
}
.should_total_pay{
	position: absolute;
	left: 750px;
	top: 1060px;
	color: #5e5e5e;
	font-size: 12px;
}
#should_total_pay{
	position: absolute;
	left: 830px;
	top: 1045px;
	color: #d41a39;
	font-size: 20px;
}
#buy{
	width: 140px;
	height: 40px;
	background: #d41a39;
	border: none;
	position: absolute;
	left: 955px;
	top: 1050px;
	color: white;
	font-size: 18px;
}







