body{
	margin: 0;
	padding: 0;
}
/*顶部*/
#top{
	position: relative;
	width: 100%;
	height: 35px;
	background-color: #d41a39;
}
#top p{
	color: white;
	font-size: 12px;
}
.welcome{
	position: absolute;
	left:200px;
	top: 0px;
	width:100px;

}
.introduce{
	position: absolute;
	left: 345px;
	top: 0px;
	width: 385px;
}
#top_list{
	position: absolute;
	left: 700px;
	top: -10px;
}
#top_list li{
	list-style: none;
	float: left;
	color: white;
	font-size: 12px;
	margin-left: 5px;
	padding: 5px 0;
}
#top_list li a{
	text-decoration: none;
	font-size: 12px;
	color:white;
}
#user{
	width: 60px;
	height: 15px;
	background-color: #d41a39;
	border: 1px solid white;
	margin: 10px;
	position: absolute;
	left: 233px;
	top: 10px;
	display: none;
}
#drop-down:hover #user{
	display: block;
}
/*搜索栏*/
#search{
	width: 100%;
	height: 160px;
	position:relative;
	 
}
.logo{
	position: absolute;
	left: 190px;
	top: 46px;
}
#search_input{
	position: absolute;
	left: 475px;
	top: 55px;
	width: 310px;
	height: 35px;
	border: 3px solid #020202;
}
#search_btn{
	position: absolute;
	left: 793px;
	top: 55px;
	width: 80px;
	height: 43px;
	background-color: #020202;
	color: white;
	font-size: 17px;
	border: none;
	cursor: pointer;
}
.goods_list{
	position: absolute;
	left:450px;
	top: 95px; 
}
.goods_list li{
	float: left;
	font-size: 12px;
	color: #cbcbcb;
	list-style: none;
	margin-left: 1px;
}
.goods_list a{
	text-decoration: none;
	color: #cbcbcb;
}
.goods_list a:hover{
	color: #020202;
}
.shopping_car_img{
	position: absolute;
	left: 965px;
	top: 70px;
}
#shopping_car{
	position: absolute;
	left: 1005px;
	top: 75px;
	font-size: 15px;
	color: #020202;
	text-decoration: none;
}

/*导航栏*/
#navigation_bar{
	width: 100%;
	height: 40px;
	background-color: #000000;
}
.ani_red {
    position: absolute;
    left: 0;
    background: #cc0000;
    height: 40px;
    padding: 0;
}
.nav{
	position: absolute;
	left: 135px;
	top: 179px;
	width: 740px;
}
.nav_li {
    display: inline-block;
    height: 100%;
    padding: 12px 35px;
    cursor: pointer;
    position: relative;
}
.nav_li a{
	text-decoration: none;
	color: white;
	font-size: 13px;
}
.nav_li:hover{
	background-color: #d41a39;
}
/*商品详情*/
.goods_details{
	height: 725px;
	width: 100%;
	
	position: relative;
}
#mylocation{
	position: absolute;
	font-size: 12px;
	color: #676666;
	left: 215px;
	top: 10px;
}

#xq_big_img{
	position: absolute;
	left: 180px;
	top: 65px;
	width: 35%;
	box-shadow: 0 2px 16px grey, 0 0 1px grey, 0 0 1px grey;

}

.small_img{
	position: absolute;
	left: 185px;
	top: 540px;
}

.zp_img{
	position: absolute;
	left: 660px;
	top: 65px;
}
#goodsname{
	position: absolute;
	left: 750px;
	top: 50px;
	font-size: 20px;
	color: #000000;
}
#goodsdescript{
	color: #686868;
	font-size: 15px;
	line-height: 200%;
	position: absolute;
	left: 660px;
	top: 95px;
}

.goodsmoney{
	background-color: #f9d7dd;
	width: 480px;
	height: 60px;
	position: absolute;
	left: 660px;
	top: 240px;
}

.money_p{
	color: #000000;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 25px;
}
.money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 50px;
	top: 25px;
}
.money_num{
	color: #9F0404;
    font-size: 30px;
    left: 65px;
    top: -8px;
    position: absolute;
}
.mz{
	position: absolute;
	left: 140px;
	top: 25px;

}

.mj{
	position: absolute;
	left: 190px;
	top: 25px;
}
#buy_people{
	color: #726b6d;
	font-size: 12px;
	position: absolute;
	left: 390px;
	top: 25px;
} 
.send{
	color: #000000;
	font-size: 12px;
	position: absolute;
	left: 665px;
	top: 310px;
}
#address{
	position: absolute;
	left: 780px;
	top: 315px;
}
.send_money01{
	color: #ababab;
	font-size: 12px;
	position: absolute;
	left: 665px;
	top: 340px;
}
.send_money02{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 753px;
	top: 340px;
}
.send_money03{
	color: #ababab;
	font-size: 12px;
	position: absolute;
	left: 768px;
	top: 340px;
}
.send_money04{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 900px;
	top: 340px;
}
.send_money05{
	color: #ababab;
	font-size: 12px;
	position: absolute;
	left: 920px;
	top: 340px;
}
.send_money06{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 945px;
	top: 340px;
}
.send_money07{
	color: #ababab;
	font-size: 12px;
	position: absolute;
	left: 955px;
	top: 340px;
}
.preferential01{
	color: #ababab;
	font-size: 12px;
	position: absolute;
	left: 665px;
	top: 370px;
}
.preferential02{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 800px;
	top: 370px;
}
.preferential03{
	color: #ababab;
	font-size: 12px;
	position: absolute;
	left: 820px;
	top: 370px;
}
.preferential04{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 943px;
	top: 370px;
}
.preferential05{
	color: #ababab;
	font-size: 12px;
	position: absolute;
	left: 963px;
	top: 370px;
}
.preferential06{
	color: #ababab;
	font-size: 12px;
	position: absolute;
	left: 704px;
	top: 400px;
}
.preferential07{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 800px;
	top: 400px;
}
.preferential08{
	color: #ababab;
	font-size: 12px;
	position: absolute;
	left: 820px;
	top: 400px;
}
.preferential09{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 892px;
	top: 400px;
}
.preferential10{
	color: #ababab;
	font-size: 12px;
	position: absolute;
	left: 912px;
	top: 400px;
}
.preferential11{
	color: #ababab;
	font-size: 12px;
	position: absolute;
	left: 704px;
	top: 430px;
}
.colorstyle{
	font-size: 12px;
	color: #ababab;
	position: absolute;
	left: 665px;
	top: 460px;
}

#colorstyle1{
	border:1px solid #f39800;
	width: 160px;
	height: 8px;
	position: absolute;
	left: 740px;
	top: 470px;
	font-size: 12px;
	color: #ababab;
	text-align: center;
	padding: 5px 0px;
}

#colorstyle2{
	border:1px solid #838383;
	width: 180px;
	height: 8px;
	position: absolute;
	left: 740px;
	top: 500px;
	font-size: 12px;
	color: #ababab;
	text-align: center;
	padding: 5px 0px;
}
#colorstyle3{
	border:1px solid #a1a1a1;
	background-color: #bdbdbd;
	width: 180px;
	height: 8px;
	position: absolute;
	left: 740px;
	top: 530px;
	font-size: 12px;
	color: #ababab;
	text-align: center;
	padding: 5px 0px;
}
 .buy_num{
 	font-size: 12px;
	color: #ababab;
	position: absolute;
	left: 665px;
	top: 560px;
 }
 #btn_subtraction{
 	width: 27px;
 	height: 27px;
 	position: absolute;
 	left: 715px;
 	top: 563px;
 	background-color: #e9e9e9;
 	border:1px solid #bdbdbd;
 	font-size: 20px;
 }
 #num_input{
 	width: 54px;
 	height: 23px;
 	border:1px solid #bdbdbd;
 	position: absolute;
 	left: 742px;
 	top: 563px;
 }
 #btn_add{
 	width: 27px;
 	height: 27px;
 	position: absolute;
 	left: 799px;
 	top: 563px;
 	background-color: #e9e9e9;
 	border:1px solid #bdbdbd;
 	font-size: 20px;
 }
 #addtocar{
 	width: 160px;
 	height: 33px;
 	color: white;
 	background-color: #f39800;
 	font-size: 20px;
 	border:none;
 	position: absolute;
 	left: 700px;
 	top: 612px;
 }
 #buy_now{
 	width: 160px;
 	height: 33px;
 	color: white;
 	background-color: #7d0000;
 	font-size: 20px;
 	border:none;
 	position: absolute;
 	left: 905px;
 	top: 612px;
 }
 .style_pay{
 	color: #373737;
 	font-size: 12px;
 	position: absolute;
 	left: 667px;
 	top: 670px;
 }
 #collect{
 	position: absolute;
 	left: 210px;
 	top: 675px;
 }

 #share{
 	position: absolute;
 	left: 320px;
 	top: 675px;
 }

 /*凑单*/
.coudan{
	width: 100%;
	height: 370px;
	
	position: relative;
}
.tophr{
	width: 1100px;
	border:4px solid #e9e9e9;
	position: absolute;
	left: 80px;
	top: 10px;
}
.bottomhr{
	width: 1100px;
	border:4px solid #e9e9e9;
	position: absolute;
	left: 80px;
	top: 370px;
}
#left_btn{
	position: absolute;
	left: 130px;
	top: 125px;
}
.coudan_p{
	font-size: 18px;
	color: #000000;
	position: absolute;
	left: 195px;
	top: 30px;
}

.sale1{
	border: 2px solid #eceaed;
	width: 200px;
	height: 240px;
	position: absolute;
	top: 85px;
	left: 195px;
}
#sale1_name{
	position: absolute;
	left: 10px;
	top: 190px;
	color: #3a3a3a;
	font-size: 12px;
}
.sale1_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 70px;
	top: 213px;

}
#sale1_money_num{
	color: #9f0404;
	font-size: 18px;
	position: absolute;
	left: 80px;
	top: 203px;

}
.sale2{
	border: 2px solid #eceaed;
	width: 200px;
	height: 240px;
	position: absolute;
	top: 85px;
	left: 415px;
}
#sale2_name{
	position: absolute;
	left: 10px;
	top: 190px;
	color: #3a3a3a;
	font-size: 12px;
}
.sale2_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 70px;
	top: 213px;

}
#sale2_money_num{
	color: #9f0404;
	font-size: 18px;
	position: absolute;
	left: 80px;
	top: 203px;

}

.sale3{
	border: 2px solid #eceaed;
	width: 200px;
	height: 240px;
	position: absolute;
	top: 85px;
	left: 635px;
}
#sale3_name{
	position: absolute;
	left: 10px;
	top: 190px;
	color: #3a3a3a;
	font-size: 12px;
}
.sale3_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 70px;
	top: 213px;

}
#sale3_money_num{
	color: #9f0404;
	font-size: 18px;
	position: absolute;
	left: 80px;
	top: 203px;

}
.sale4{
	border: 2px solid #eceaed;
	width: 200px;
	height: 240px;
	position: absolute;
	top: 85px;
	left: 855px;
}
#sale4_name{
	position: absolute;
	left: 10px;
	top: 190px;
	color: #3a3a3a;
	font-size: 12px;
}
.sale4_money_symbol{
	color: #9f0404;
	font-size: 12px;
	position: absolute;
	left: 70px;
	top: 213px;

}
#sale4_money_num{
	color: #9f0404;
	font-size: 18px;
	position: absolute;
	left: 80px;
	top: 203px;

}
#right_btn{
	position: absolute;
	left: 1080px;
	top: 125px;
}
/*商品信息*/
.goods_information{
	position: relative;
	width: 100%;
	height: 10250px;
	
}
.list{
	width: 1000px;
	height: 45px;
	background: #e9e9e9;
	position: absolute;
	left: 130px;
	top: 40px;
}
#information{
	position: absolute;
	left: 30px;
	font-size: 18px;
	color: #b75658;
	top: -2px;

}

#introduce{
	position: absolute;
	left: 210px;
	font-size: 18px;
	color: #646464;
	top: -2px;

}

#photos{
	position: absolute;
	left: 400px;
	font-size: 18px;
	color: #646464;
	top: -2px;

}
.information1{
	position: absolute;
	top: 76px;
}
.information2{
	position: absolute;
	top: 1535px;
}
.information3{
	position: absolute;
	top: 3564px;
}
.information4{
	position: absolute;
	top: 6316px;
}
.information5{
	position: absolute;
	top: 7776px;
}
.information6{
	position: absolute;
	top: 9879px;
}

/*底部*/
#bottom{
	position: relative;
	width: 1280px;
	height: 230px;
	background-color: #d41a39;
}
.service_guarantee{
	position: absolute;
	left: 130px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#service_list{
	position: absolute;
	left: 90px;
	top: 35px;
}
#service li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.use_help{
	position: absolute;
	left: 270px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#help_list{
	position: absolute;
	left: 230px;
	top: 35px;
}
#help li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.pay_style{
	position: absolute;
	left: 410px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#pay_list{
	position: absolute;
	left: 370px;
	top: 35px;
}
#pay li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.distribution_style{
	position: absolute;
	left: 560px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#distribution_list{
	position: absolute;
	left: 510px;
	top: 35px;
}
#distribution li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.after_sales_service{
	position: absolute;
	left: 690px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#after_sales_list{
	position: absolute;
	left: 650px;
	top: 35px;
}
#after_sales li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.phone_client{
	position: absolute;
	left: 830px;
	top: 10px;
	color: white;
	font-size: 15px;
}
.phone_ewm{
	position: absolute;
	left: 837px;
	top: 50px;
}
.scan{
	position: absolute;
	left: 843px;
	top: 155px;
	font-size: 13px;
	color: white;
}
.official_weixin{
	position: absolute;
	left: 1040px;
	top: 10px;
	color: white;
	font-size: 15px;
}
.weixin_ewm{
	position: absolute;
	left: 1020px;
	top: 49px;
}
.official_scan{
	position: absolute;
	left: 1030px;
	top: 155px;
	font-size: 13px;
	color: white;
}
.statement{
	position: absolute;
	top: 180px;
	left: 180px;
	color: white;
	font-size: 8px;

}












