
/*登录页面*/
#login{
	width: 1010px;
	height: 610px;
	position:relative; 
	margin: 0 auto;
	
}
.logo{
	position: absolute;
	left: 0px;
	top: 45px;
}
.welcome_language{
	position: absolute;
	left: 235px;
	top: 70px;
	color: #252525;
	font-size: 25px;
}
.login_image{
	position: absolute;
	left: 0px;
	top: 185px;
	width: 50%;
}
.logo2{
	position: absolute;
	top: 165px;
	left: 680px;
}
.account_p{
	position: absolute;
	left: 510px;
	top: 260px;
	color: #252525;
	font-size: 20px;
}#account_input{
	position: absolute;
	left: 590px;
	top: 255px;
	width: 345px;
	height: 35px;
	border: 2px solid #6d6d6d;
}
.password_p{
	position: absolute;
	left: 510px;
	top: 340px;
	color: #252525;
	font-size: 20px;
}#password_input{
	position: absolute;
	left: 590px;
	top: 335px;
	width: 345px;
	height: 35px;
	border: 2px solid #6d6d6d;
}
#forget_password{
	position: absolute;
	left: 870px;
	top: 410px;
	text-decoration: none;
	font-size: 13px;
	color: #252525;
}
#login_btn{
	position: absolute;
	left: 655px;
	top: 450px;
	width: 220px;
	height: 40px;
	border: none;
	background-color: #d41a39;
	color: white;
	font-size: 20px;
	cursor: pointer;
}
/*底部*/
#bottom{
	position: relative;
	width: 1280px;
	height: 230px;
	background-color: #d41a39;
}
.service_guarantee{
	position: absolute;
	left: 130px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#service_list{
	position: absolute;
	left: 90px;
	top: 35px;
}
#service li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.use_help{
	position: absolute;
	left: 270px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#help_list{
	position: absolute;
	left: 230px;
	top: 35px;
}
#help li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.pay_style{
	position: absolute;
	left: 410px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#pay_list{
	position: absolute;
	left: 370px;
	top: 35px;
}
#pay li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.distribution_style{
	position: absolute;
	left: 560px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#distribution_list{
	position: absolute;
	left: 510px;
	top: 35px;
}
#distribution li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.after_sales_service{
	position: absolute;
	left: 690px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#after_sales_list{
	position: absolute;
	left: 650px;
	top: 35px;
}
#after_sales li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.phone_client{
	position: absolute;
	left: 830px;
	top: 10px;
	color: white;
	font-size: 15px;
}
.phone_ewm{
	position: absolute;
	left: 837px;
	top: 50px;
}
.scan{
	position: absolute;
	left: 843px;
	top: 155px;
	font-size: 13px;
	color: white;
}
.official_weixin{
	position: absolute;
	left: 1040px;
	top: 10px;
	color: white;
	font-size: 15px;
}
.weixin_ewm{
	position: absolute;
	left: 1020px;
	top: 49px;
}
.official_scan{
	position: absolute;
	left: 1030px;
	top: 155px;
	font-size: 13px;
	color: white;
}
.statement{
	position: absolute;
	top: 180px;
	left: 180px;
	color: white;
	font-size: 8px;

}












