
/*注册页面*/
#reg{
	width: 1010px;
	height: 850px;
	position:relative; 
	margin: 0 auto;
}
.logo{
	position: absolute;
	left: 0px;
	top: 45px;
}
.reg_image{
	position: absolute;
	left: 390px;
	top: 60px;
	width: 26%;
}
.phone_num{
	position: absolute;
	top: 160px;
	left: 55px;
	font-size: 18px;
}
#phone_num_input{
	width: 255px;
	height: 30px;
	border: 2px solid #6d6d6d;
	position: absolute;
	top: 150px;
	left: 190px;
}
#phone_code_btn{
	position: absolute;
	top: 150px;
	left: 450px;
	width: 75px;
	height: 34px;
	background-color: #d41a39;
	color: white;
	border: none;
	cursor: pointer;
}
.msg_code{
	position: absolute;
	top: 240px;
	left: 55px;
	font-size: 18px;
}
#msg_code_input{
	width: 332px;
	height: 30px;
	border: 2px solid #6d6d6d;
	position: absolute;
	top: 230px;
	left: 190px;
}

.username{
	position: absolute;
	top: 320px;
	left: 55px;
	font-size: 18px;
}
#username_input{
	width: 255px;
	height: 30px;
	border: 2px solid #6d6d6d;
	position: absolute;
	top: 310px;
	left: 190px;
}
#username_btn{
	position: absolute;
	top: 310px;
	left: 450px;
	width: 75px;
	height: 34px;
	background-color: #d41a39;
	color: white;
	border: none;
	cursor: pointer;
}
.password{
	position: absolute;
	top: 400px;
	left: 55px;
	font-size: 18px;
}
#password_input{
	width: 332px;
	height: 30px;
	border: 2px solid #6d6d6d;
	position: absolute;
	top: 390px;
	left: 190px;
}
.confirm_password{
	position: absolute;
	top: 480px;
	left: 55px;
	font-size: 18px;
}
#confirm_password_input{
	width: 332px;
	height: 30px;
	border: 2px solid #6d6d6d;
	position: absolute;
	top: 470px;
	left: 190px;
}
.email{
	position: absolute;
	top: 560px;
	left: 55px;
	font-size: 18px;
}
#email_input{
	width: 332px;
	height: 30px;
	border: 2px solid #6d6d6d;
	position: absolute;
	top: 550px;
	left: 190px;
}
.code{
	position: absolute;
	top: 640px;
	left: 55px;
	font-size: 18px;
}
#code_input{
	width: 332px;
	height: 30px;
	border: 2px solid #6d6d6d;
	position: absolute;
	top: 630px;
	left: 190px;
}
#yzm_img{
	position: absolute;
	left: 570px;
	top: 626px;
}
#next_yzm{
	position: absolute;
	left: 575px;
	top: 676px;
	color: #4d4d4d;
	font-size: 16px;
	cursor: pointer;
}
#next_yzm:hover{
	text-decoration: underline;
	color: red;
}
#confirm_reg{
	background: #d41a39;
	width: 310px;
	height: 57px;
	position: absolute;
	left: 315px;
	top: 725px;
	font-size: 20px;
	color: white;
	border-radius: 7px;
	cursor: pointer;
}
/*底部*/
