body{
	margin: 0;
	padding: 0;
}
/*顶部*/
#top{
	position: relative;
	width: 1280px;
	height: 35px;
	background-color: #d41a39;
}
#top p{
	color: white;
	font-size: 12px;
}
.welcome{
	position: absolute;
	left:200px;
	top: 0px;
	width:100px;

}
.introduce{
	position: absolute;
	left: 345px;
	top: 0px;
	width: 385px;
}
#top_list{
	position: absolute;
	left: 700px;
	top: -10px;
}
#top_list li{
	list-style: none;
	float: left;
	color: white;
	font-size: 12px;
	margin-left: 5px;
	padding: 5px 0;
}
#top_list li a{
	text-decoration: none;
	font-size: 12px;
	color:white;
}
#user{
	width: 60px;
	height: 15px;
	background-color: #d41a39;
	border: 1px solid white;
	margin: 10px;
	position: absolute;
	left: 233px;
	top: 10px;
	display: none;
}
#drop-down:hover #user{
	display: block;
}
/*选择支付方式页面*/
.choose_pay_style{
	position: relative;
	width: 100%;
	height: 1120px;
	
}
.logo{
	position: absolute;
	left: 190px;
	top: 46px;
}
.progress{
	position: absolute;
	left: 720px;
	top: 80px;
}
.mycar{
	color: #d41a39;
	font-size: 12px;
	position: absolute;
	left: 695px;
	top: 85px;
}
.confirm_information{
	color: #9c9b9b;
	font-size: 12px;
	position: absolute;
	top: 85px;
	left: 780px;
}
.confirm_pay{
	color: #9c9b9b;
	font-size: 12px;
	position: absolute;
	top: 85px;
	left: 885px;	
}
.choose_style{
	color: #9c9b9b;
	font-size: 12px;
	position: absolute;
	top: 85px;
	left: 960px;	
}
.welcome_user{
	color: #4f4f4f;
	font-size: 12px;
	position: absolute;
	top: 0px;
	left: 920px;	
}
#username{
	position: absolute;
	left: 965px;
	top: 0px;
	font-size: 12px;
	color: #d41a39;
}
#exit{
	position: absolute;
	left: 1040px;
	top: 0px;
	font-size: 12px;
	color: #4f4f4f;
}
.hrhr{
	border: 4px solid #bebebe;
	width: 100%;
	position: absolute;
	top: 145px;
}
.notice{
	font-size: 25px;
	position: absolute;
	left: 210px;
	top: 160px;
}
.shouldpays{
	font-size: 12px;
	position: absolute;
	left: 220px;
	top: 230px;
}
#shouldpay{
	position: absolute;
	font-size: 15px;
	color: #d41a39;
	left: 280px;
	top: 225px;
}
.takegoods{
	font-size: 12px;
	position: absolute;
	left: 220px;
	top: 260px;
}

#takegoods_information{
	font-size: 12px;
	position: absolute;
	left: 280px;
	top: 260px;
}
.sendtime{
	font-size: 12px;
	position: absolute;
	left: 220px;
	top: 290px;
}

#sendtime{
	font-size: 12px;
	position: absolute;
	left: 280px;
	top: 290px;
}
.meizhuangjieyue{
	position: absolute;
	width: 905px;
	height:41px;
	left: 185px;
	top: 360px;
	border: 1px solid #9c9b9b;
}
#mzj{
	position: absolute;
	left: 30px;
	top: 10px;
}
.mzjye{
	position: absolute;
	left: 55px;
	top: 3px;
	font-size: 12px;
}
#zongjine{
	position:absolute;
	left: 145px;
	top: 3px;
	font-size: 12px;
	color: #d41a39;
}
#mzjyue{
	position:absolute;
	left: 295px;
	top: 3px;
	font-size: 12px;
	color: #d41a39;
}
.zhifubao{
	position: absolute;
	width: 905px;
	height:195px;
	left: 185px;
	top: 402px;
	border: 1px solid #9c9b9b;
}
#zfb{
	position: absolute;
	left: 30px;
	top: 10px;
}
.zcw{
	font-size: 12px;
    position: absolute;
    left: 55px;
    top: 3px;
}
#zhifubao{
	
	position: absolute;
    left: 30px;
    top: 75px;
}
.zhifubao_img{
	position: absolute;
    left: 55px;
    top: 80px;
}
#caifutong{
	
	position: absolute;
    left: 320px;
    top: 75px;
}
.caifutong_img{
	position: absolute;
    left: 345px;
    top: 80px;
}
#weixin{
	
	position: absolute;
    left: 610px;
    top: 75px;
}
.weixin_img{
	position: absolute;
    left: 635px;
    top: 80px;
}
.yhkandwy{
	width: 948px;
    height: 500px;
    
    position: absolute;
    top: 583px;
    left: 145px;
}
.yhkandwy>ul>li{
	border: 1px solid #9c9b9b;
	list-style: none;
	padding: 20px 30px;

}
.yhkandwy>ul>li>ul{
	list-style: none;
	margin: 20px -45px;

}
.yhkandwy>ul>li>ul>li{
	display: inline-block;
	padding: 0px 5px;
}
.yinhangka{
	font-size: 12px;
    
}
.yhkandwy>ul>li>ul>li>img{
	float: right;
}
.yhkandwy>ul>li>button{
	margin-left: 780px;  
}
#yhk_zhankai{
	width: 50px;
	height: 20px;
	border: 1px solid #9c9b9b;
	background-color: white;
}
.yhkandwy>ul>li>ul>div>ul{
	list-style: none;
}
.yhkandwy>ul>li>ul>div>ul>li{
	display: inline-block;
	padding: 0px 5px;
}
.yhkandwy>ul>li>ul>div>ul{
	list-style: none;
	margin: 20px -45px;

}
.yhkandwy>ul>li>ul>div>ul>li>img{
	float: right;
}
/*隐藏*/
#yincang_wangyin{
	display: none;
}



/*底部*/
#bottom{
	position: relative;
	width: 1280px;
	height: 230px;
	background-color: #d41a39;
}
.service_guarantee{
	position: absolute;
	left: 130px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#service_list{
	position: absolute;
	left: 90px;
	top: 35px;
}
#service li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.use_help{
	position: absolute;
	left: 270px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#help_list{
	position: absolute;
	left: 230px;
	top: 35px;
}
#help li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.pay_style{
	position: absolute;
	left: 410px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#pay_list{
	position: absolute;
	left: 370px;
	top: 35px;
}
#pay li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.distribution_style{
	position: absolute;
	left: 560px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#distribution_list{
	position: absolute;
	left: 510px;
	top: 35px;
}
#distribution li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.after_sales_service{
	position: absolute;
	left: 690px;
	top: 10px;
	color: white;
	font-size: 15px;
}
#after_sales_list{
	position: absolute;
	left: 650px;
	top: 35px;
}
#after_sales li{
	list-style: none;
	color: white;
	font-size: 10px;
	margin-top: 10px;
}
.phone_client{
	position: absolute;
	left: 830px;
	top: 10px;
	color: white;
	font-size: 15px;
}
.phone_ewm{
	position: absolute;
	left: 837px;
	top: 50px;
}
.scan{
	position: absolute;
	left: 843px;
	top: 155px;
	font-size: 13px;
	color: white;
}
.official_weixin{
	position: absolute;
	left: 1040px;
	top: 10px;
	color: white;
	font-size: 15px;
}
.weixin_ewm{
	position: absolute;
	left: 1020px;
	top: 49px;
}
.official_scan{
	position: absolute;
	left: 1030px;
	top: 155px;
	font-size: 13px;
	color: white;
}
.statement{
	position: absolute;
	top: 180px;
	left: 180px;
	color: white;
	font-size: 8px;

}







